.App {
  background-color: var(--app-main-background-color);
  color: var(--app-main-text-color);
  transition: background-color 300ms linear;
}

.App nav {
  background-color: var(--app-navbar-background-color);
  color: var(--app-navbar-text-color);
  transition: background-color 500ms linear, color 500ms linear;
}

.App nav .row ul .switch label span {
  background-color: var(--app-switch-color) !important;
  border: var(--app-switch-border-color) !important;
  padding-bottom: 14px;
}

.App nav .row ul .switch label span::after {
  background-color: var(--app-switchButton-color) !important;
}

.App main button {
  background-color: var(--app-searchButton-background-color) !important;
  color: var(--app-searchButton-text-color) !important;
  transition: background-color 500ms linear, color 500ms linear;
}

.App main input {
  background-color: var(--app-search-background-color) !important;
  color: var(--app-search-text-color) !important;
  transition: background-color 500ms linear, color 500ms linear;
}
.App main input::placeholder {
  color: var(--app-search-placeholder-color) !important;
  transition: background-color 500ms linear, color 500ms linear;
}

.App main label span::after {
  background-color: var(--app-radio-background-color) !important;
  transition: background-color 500ms linear, color 500ms linear;
}
.App main label span {
  color: var(--app-radio-text-color);
  transition: background-color 500ms linear, color 500ms linear;
}

.App main .movies .card {
  background-color: var(--app-card-background-color);
  color: var(--app-card-text-color);
  transition: background-color 500ms linear, color 500ms linear;
}

.App footer {
  background-color: var(--app-footer-background-color);
  color: var(--app-footer-text-color);
  transition: background-color 500ms linear, color 500ms linear;
}
