body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

nav {
  padding: 0 1rem;
}

.content {
  min-height: calc(100vh - 64px - 70px);
  padding: 1.5rem 0;
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;
}

html {
  --app-navbar-background-color: rgb(100, 134, 228);
  --app-navbar-text-color: rgb(255, 255, 255);

  --app-switch-color: rgb(252, 252, 252);
  --app-switch-border-color: 2px solid rgb(0, 0, 0);
  --app-switchButton-color: rgb(39, 18, 133);

  --app-main-background-color: rgb(255, 255, 255);
  --app-main-text-color: rgb(0, 0, 0);

  --app-searchButton-background-color: rgb(88, 95, 195);
  --app-searchButton-text-color: rgb(255, 255, 255);

  --app-search-background-color: rgb(221, 221, 221);
  --app-search-placeholder-color: rgb(94, 94, 94);
  --app-search-text-color: rgb(0, 0, 0);

  --app-radio-background-color: rgb(41, 5, 82);
  --app-radio-text-color: rgb(0, 0, 0);

  --app-card-background-color: rgb(206, 218, 248);
  --app-card-text-color: rgb(0, 0, 0);

  --app-footer-background-color: rgb(37, 80, 199);
  --app-footer-text-color: rgb(0, 0, 0);
}

html[data-theme="light"] {
  --app-navbar-background-color: rgb(100, 134, 228);
  --app-navbar-text-color: rgb(255, 255, 255);

  --app-switch-color: rgb(252, 252, 252);
  --app-switch-border-color: 2px solid rgb(0, 0, 0);
  --app-switchButton-color: rgb(39, 18, 133);

  --app-main-background-color: rgb(255, 255, 255);
  --app-main-text-color: rgb(0, 0, 0);

  --app-searchButton-background-color: rgb(88, 95, 195);
  --app-searchButton-text-color: rgb(255, 255, 255);

  --app-search-background-color: rgb(221, 221, 221);
  --app-search-placeholder-color: rgb(94, 94, 94);
  --app-search-text-color: rgb(0, 0, 0);

  --app-radio-background-color: rgb(41, 5, 82);
  --app-radio-text-color: rgb(0, 0, 0);

  --app-card-background-color: rgb(206, 218, 248);
  --app-card-text-color: rgb(0, 0, 0);

  --app-footer-background-color: rgb(37, 80, 199);
  --app-footer-text-color: rgb(0, 0, 0);
}

html[data-theme="dark"] {
  --app-navbar-background-color: rgb(12, 8, 71);
  --app-navbar-text-color: rgb(255, 255, 255);

  --app-switch-color: rgb(255, 255, 255);
  --app-switch-border-color: 2px solid rgb(37, 85, 187);
  --app-switchButton-color: rgb(194, 238, 50);

  --app-main-background-color: rgb(43, 25, 102);
  --app-main-text-color: rgb(255, 255, 255);

  --app-searchButton-background-color: rgb(140, 146, 230);
  --app-searchButton-text-color: rgb(255, 255, 255);

  --app-search-background-color: rgb(21, 87, 167);
  --app-search-placeholder-color: rgb(167, 167, 167);
  --app-search-text-color: rgb(255, 255, 255);

  --app-radio-background-color: rgb(128, 173, 233);
  --app-radio-text-color: rgb(255, 255, 255);

  --app-card-background-color: rgb(235, 235, 235);
  --app-card-text-color: rgb(0, 0, 0);

  --app-footer-background-color: rgb(0, 0, 0);
  --app-footer-text-color: rgb(255, 255, 255);
}

.activePage {
  padding: 1px 5px;
  margin: 2px;
  border-radius: 10px;
  border: black solid 1px;
  background-color: #227966;
  color: white;
  font-weight: bold;
}

.paginatorButtonActive {
  padding: 8px;
  border-radius: 5px;
}

.paginatorButtonInactive {
  padding: 8px;
  border-radius: 5px;
  pointer-events: none !important;
  color: gray !important;
  background-color: #cacaca !important;
}

/* .waves-effect {
  z-index: 0 !important;
} */
